/* 
    COLORS: 
    #A1CCA5
    #8FB996 
    #709775
    #415D43
    #111D13
    #191a19
    #1e5128
    #4e9f3d
    #ffe6e6
    #f8f9fa

    font-family: 'Lato', sans-serif;
    font-family: gt walsheim;
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    font-weight: 300;
    font-style: normal;
}

.sidebar-container{
    margin:0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    height: 98%;
    overflow: auto ;
    border-radius:3px;
    transition:.2s all; 
}

.sidebar-container a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

a svg {
    display: inline-block;
    vertical-align: middle;
}

.option::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}

.option:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.option::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #606c38;;
    z-index: -1;
    transition: transform 1s ease;
}

.option {
    position: relative;
    font-size: 1rem;
}


